---
import { Image } from "astro:assets";
import Box from "@/pics/main/BoxIcon.webp";
import Logo from "@/pics/main/SmoElectionLogo.webp";
import Par1 from "@/pics/main/image_1.webp";
import Par2 from "@/pics/main/image_2.webp";
import Par3 from "@/pics/main/image_3.webp";
import Line from "@/pics/main/line.webp";
import Layout from "../layouts/Layout.astro";
import Carousel from "./Carousel.astro";
import CountdownTimer from "./CountdownTimer.astro";

const Party = [
	{ num: "1", name: "พรรคเพื่อแมวเลีย", routing: "", pic: Par1, bg: "bg-blue", txt: "text-darkblue" },
	{ num: "2", name: "พรรคปลาทูทอด", routing: "", pic: Par2, bg: "bg-red", txt: "text-white" },
	{ num: "3", name: "พรรครณรงค์หนังไก่", routing: "", pic: Par3, bg: "bg-yel", txt: "text-dgray" },
];
---

<Layout>
    <div class="flex flex-col w-full h-auto bg-yellow">
        <div class="pt-20 mb-10 px-10">
            <Image src={Logo}  alt={"logo"} class="w-60 mb-8"/>
            <div class="mb-10">
                <h1 class="font-bold font-noto text-md">เลือกตั้งคณะกรรมการบริหารสโมสรนิสิต</h1>
                <h2 class="font-light font-noto text-md mb-1">คณะวิทยาศาตร์ จุฬาลงกรณ์มหาวิทยาลัย</h2>
                <h4 class="font-light font-noto text-xs text-lgray">ประจำปีการศึกษา 2568</h4>
            </div>
            <div class="place-content-center w-full h-35 rounded-2xl shadow-lg bg-white">
                <CountdownTimer/>
            </div>
        </div>
        <div class="flex flex-col w-full h-100 rounded-t-4xl bg-white items-center pt-13 px-10">
            <h class="font-semibold font-noto text-md text-dgray mb-3">ลงคะแนนเสียง</h>
            <a href="" id="vote-now-btn" class=" px-12 py-3  rounded-2xl shadow-lg inline-flex items-center gap-2 pointer-events-none opacity-50">
                <Image src={Box} alt={"box"} class="w-7"/>
                <h1 class="font-semibold font-museo text-sm text-black ">VOTE NOW</h1>
            </a>
            <Image src={Line} alt={"line"} class="w-full mt-10"/>
            <div class="flex flex-col items-center w-full h-auto px-3">
                <div class="flex flex-col items-center mt-10 mb-5">
                    <h3 class="font-bold font-noto text-md text-dgray mb-1">รายชื่อและนโยบายผู้ลงสมัครเลือกตั้ง</h3>
                    <h4 class="font-light font-noto text-sm text-dgray">คลิ๊กเพื่อดูนโยบาย</h4>
                </div>
                <div class="w-full h-100 overflow-y-visible overflow-x-hidden px-3">
                    {Party.map((item) => (
                        <a class="flex flex-row w-full justify-between gap-2 my-5 h-25">
                            <div class={`w-20 h-full place-items-center place-content-center ${item.bg}`}>
                                <h4 class={`font-museo font-bold text-xs ${item.txt}`} >หมายเลข</h4>
                                <p class={`font-museo text-5xl ${item.txt}`}>{item.num}</p>
                            </div>
                            <div class="flex flex-row w-80 justify-between items-center gap-2 bg-[#F3F3F3] relative">
                                <h2 class="font-noto font-normal text-lg text-lgray pl-3 whitespace-nowrap z-10">{item.name}</h2>
                                <Image src={item.pic} alt={"party1"} class="h-25 object-contain flex-shrink-0 absolute -right-26"/>
                            </div>
                        </a>
                    ))}
                </div>
            </div
            <Image src={Line} alt={"line"} class="w-full mb-10"/>
            <div class="flex flex-col w-full">
                <div class="font-noto font-bold text-dgray text-md place-items-center mb-5">
                    <h3>สโมสรนิสิตคณะวิทยาศาสตร์</h3>
                    <h3>ปีการศึกษา 2567</h3>
                </div>
                <div>
                    <Carousel/>
                </div>
            </div>
        </div>
    </div>
</Layout>