---
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const { title, subtitle, position, department, image, policies, qualifications, experience } = frontmatter;
---

<!-- Layout Template -->
<Layout>
  <div class="w-full bg-yellow pt-20 pb-24">
    <div class="w-full max-w-screen-md mx-auto px-8 sm:px-12">
        <a href="/">
            <img src= "/pics/arrow.webp" alt="arrow" class="w-2 mb-4 ml-0 cursor-pointer hover:opacity-80 transition" />
          </a>          
      <div class="flex flex-row items-center w-full gap-x-8">
        <div class="flex flex-col">
          <h1 class="font-bold font-noto text-lg leading-tight">{title}</h1>
          <h2 class="font-bold font-noto text-lg mb-1">{subtitle}</h2>
          <h4 class="font-light font-noto text-darkgray text-xs">{position}</h4>
          <h4 class="font-light font-noto text-darkgray text-xs mb-2">
            {department}
          </h4>
        </div>
        <div class="relative w-32 mt-0 mb-8 flex-shrink-0">
            <!-- {resolvedImage ? ( -->
                <Image src={image}
                    alt="candidate"
                    class="w-full"
                    style="object-position: top;"
                    width={128}
                    height={128} />
              <!-- ) : (
                <p>Image not found: {image}</p>
              )} -->
        
          <div
            class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent via-transparent to-yellow/20 rounded-tr-[2.5rem]"
          >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full max-w-screen-md mx-auto bg-white rounded-t-[2.5rem] pt-8 pb-8 -mt-24 px-8 sm:px-12"
  >
    <h2 class="font-bold font-noto text-lg mb-4">นโยบายผู้สมัคร</h2>
    <div class="font-noto text-sm text-black leading-relaxed space-y-4">
      {
        policies.map((policy: { title: unknown; details: any[]; }) => (
          <div>
            <p class="text-gray">{policy.title}</p>
            <ul class="list-disc text-gray pl-6">
              {policy.details.map((item: unknown) => (
                <li>{item}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>

    <div class="border-t border-black w-full my-6"></div>
    <h2 class="font-bold font-noto text-base leading-tight mb-4">
      ประวัติการทำงานของผู้สมัคร
    </h2>
    <div class="space-y-3 text-sm font-noto">
      <div>
        <span class="font-bold text-gray">ประวัติการทำงาน</span><br />
        <ul class="list-disc text-gray pl-6">
          {experience.map((item: unknown) => <li>{item}</li>)}
        </ul>
      </div>
    </div>

    <div class="border-t border-black w-full my-6"></div>
    <div class="mt-6">
      <slot />
    </div>
  </div>
</Layout>
